@page "/tutorials"
@rendermode InteractiveServer
@using FixMate.Data
@using FixMate.Data.Models

@inject DbService DbService
@inject NavigationManager NavigationManager

<PageTitle>Tutorials</PageTitle>

<h1>Tutorials</h1>

<section class="general-tutorials my-4">
    <h3>General Tutorials</h3>
    <div class="row">
        @foreach (var t in generalTutorials)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@t.PreviewImageUrl" class="card-img-top" alt="@t.Title placeholder image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@t.Title</h5>
                        <p class="card-text">@t.Description</p>
                        <button class="btn btn-primary mt-auto" @onclick="@(() => GoToTutorialDetails(t.Id))">View Tutorial</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@code {
    private List<Tutorial> generalTutorials = new();

    protected override async Task OnInitializedAsync()
    {
        generalTutorials = DbService.GetAllTutorials();
    }

    private void GoToTutorialDetails(string tutorialId)
    {
        NavigationManager.NavigateTo($"/tutorials/{tutorialId}");
    }
}
